{% extends 'base.html' %}

{% block content %} 

    <section class="bg-dark">
        <div>
            <img src="../../static/Images/car_lineup_md.jpg" class="bg-image" style="position: relative; width: 100%; min-width: 100vh" alt="Line of Cars in a Garage">  
            <div class="main-text-background bg-dark text-light bg-opacity-50 w-100 mt-1" style="position: absolute; top: 25%; align-items: center">
                <h1 class="main-text text-center" style="font-size: 8vh">Your Car Inventory</h1>
            </div>
        </div>
    </section>

{% endblock %}